
div {
    background-color: lightgoldenrodyellow;
    border: 0.25rem solid darkblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2rem;
    padding: 1rem;
}

p {
    color: darkblue;
    font-size: 1.5rem;
}